.mainContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.5);
    transition: background 0.3s ease-in-out;
}

.container {
    height: 100%;
    position: fixed;
    right: 0px;
    background-color: white;
    z-index: 5;
    padding-top: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    width: 40vw;
    box-shadow: 0px 0px 10px inset;
    overflow-y: auto;
}

.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.title {
    margin-left: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}

.imageUploadContainer {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.imageStyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.imageContainer {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlayText {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.close {
    margin-right:2rem;
    background-color:red;
    margin-top:1.5rem;
    font-size: 0.8rem;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.2rem;
}

.close:hover {
    background-color:rgb(245, 58, 58);
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .container {
        width: 100%;
    }
}